{% load static %}
<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'images/anime.png' %}" type="image/x-icon">
    <!-- Primary Meta Tags -->
    <title>zJairO</title>
    <meta name="title" content="zJairO">
    <meta name="description"
        content="Este es un blog nada interesante sobre programación, ciencia y tecnología redactado por un ingeniero de software que se deprime fácilmente y toma mucho café.">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://zjairo.com">
    <meta property="og:title" content="zJairO">
    <meta property="og:description"
        content="Este es un blog nada interesante sobre programación, ciencia y tecnología redactado por un ingeniero de software que se deprime fácilmente y toma mucho café.">
    <meta property="og:image" content="{% static 'images/og.png' %}">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://zjairo.com">
    <meta property="twitter:title" content="zJairO">
    <meta property="twitter:description"
        content="Este es un blog nada interesante sobre programación, ciencia y tecnología redactado por un ingeniero de software que se deprime fácilmente y toma mucho café.">
    <meta property="twitter:image" content="{% static 'images/og.png' %}">
</head>
<body>